<!-- home.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Dashboard</h2>
    <p>Willkommen, {{ user.username }}!</p>

    <!-- Beispiel für ein Dashboard mit Karten -->
    <div class="row"> <!-- Row-Container für die Karten -->
        {% if has_ticket_permission %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Tickets</div>
                <div class="card-body">
                    <h5 class="card-title">Ticketverwaltung</h5>
                    <p class="card-text">Alles rund ums Ticket.</p>
                    <a href="{% url 'ticket_overview' %}" class="btn btn-primary">Details ansehen</a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Datenanalyse</div>
                <div class="card-body">
                    <h5 class="card-title">Statistiken</h5>
                    <p class="card-text">Zahlen, Daten, Fakten</p>
                    <a href="#" class="btn btn-primary">Statistiken ansehen</a>
                </div>
            </div>
        </div>

        <!--{% if has_userview_permission %}-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User</div>
                <div class="card-body">
                    <h5 class="card-title">Benutzerverwaltung</h5>
                    <p class="card-text">Profile, Berechtigungen und ähnliches bearbeiten</p>
                    <a href="{% url 'user_list' %}" class="btn btn-primary">Einstellungen öffnen</a>
                </div>
            </div>
        </div>
        <!--{% endif %}-->
    </div> <!-- Ende des Row-Containers -->
</div>
{% endblock %}
