<!-- user_list.html -->
{% extends "base.html" %}
{% load custom_filters %}
{% block content %}

<div class="container mt-4">
    <!-- Flexbox-Container für "Zurück"-Button und Suchformular -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- "Zurück zum Dashboard"-Button -->
        <a href="{% url 'home' %}" class="btn btn-secondary">Zurück zum Dashboard</a>

        <!-- Suchformular -->
        <form method="get" class="d-flex">
            <input type="text" name="search" class="form-control me-2" placeholder="Benutzer suchen..." value="{{ search_query }}">
            <button type="submit" class="btn btn-primary">Suchen</button>
        </form>
    </div>

    <!-- Benutzerliste -->
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                {% for user_data in user_permissions %}
                <a href="?selected_user={{ user_data.user.id }}&search={{ request.GET.search }}" class="list-group-item list-group-item-action {% if request.GET.selected_user|stringformat:"s" == user_data.user.id|stringformat:"s" %}list-group-item-secondary{% endif %}">
                    <h4>{{ user_data.user.username }}</h4>

                    <div class="position-absolute top-0 end-0 d-flex align-items-center">
                        {% if user_data.user.is_superuser %}
                            <span class="badge bg-danger">Administrator</span>
                        {% elif user_data.user.is_staff %}
                            <span class="badge bg-primary">Team</span>
                        {% endif %}
                        {% if not user_data.user.is_active %}
                            <span class="badge bg-secondary">Deaktiviert</span>
                        {% endif %}
                    </div>

                    {% if request.GET.selected_user|stringformat:"s" == user_data.user.id|stringformat:"s" %}
                        <div class="mt-2">
                            <p class="mb-1"><strong>Name:</strong> {{ user_data.user.first_name }} {{ user_data.user.last_name }}</p>
                            <p class="mb-1"><strong>E-Mail:</strong> {{ user_data.user.email }}</p>
                            <p class="mb-1"><strong>Letzte Anmeldung:</strong> {{ user_data.user.last_login|date:"d.m.Y H:i:s" }}</p>
                        </div>
                    {% endif %}
                </a>
                {% empty %}
                <p class="text-muted">Keine Benutzer gefunden.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            {% if request.GET.selected_user %}
            {% with selected_user=request.GET.selected_user %}
            {% for user_data in user_permissions %}
            {% if user_data.user.id|stringformat:"s" == selected_user %}
            <form method="POST">
                {% csrf_token %}
                <h4>Berechtigungen für {{ user_data.user.username }}</h4>
                <div class="form-group">
                    <div class="permissions-container d-flex flex-wrap">
                        <div class="row">
                            {% for permission in all_permissions %}
                                <div class="col-12 col-md-4 mb-1">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="permissions_{{ user_data.user.id }}" value="{{ permission.id }}"
                                               {% if user_data.permissions|matches_suffix:permission.codename %}checked{% endif %}>
                                        <label class="form-check-label">{{ permission.name }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="save_user" value="{{ user_data.user.id }}">Speichern</button>
                <button type="submit" class="btn btn-warning" name="reset_password" value="{{ user_data.user.id }}">Passwort zurücksetzen</button>
                <button type="submit" class="btn btn-danger" name="delete_user" value="{{ user_data.user.id }}">User löschen</button>
            </form>
            {% endif %}
            {% endfor %}
            {% endwith %}
            {% else %}
            <p>Einen Benutzer auswählen, um mehr Informationen zu sehen.</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
